* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.alert {
  position: absolute;
  top: 14rem;
}

.alert-text {
  color: red;
  font-size: 14px;
  width: 12rem;
  font-weight: 900;
  padding: 10%;
}

body {
  background: black;
  height: 100%;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.bottom-section {
  background: black;
  height: 60vh;
  width: 100%;
}

.card {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  margin-bottom: 3rem;
  margin-left: 20rem;
  margin-right: 5rem;
  margin-top: 5rem;
  row-gap: 2rem;
}

.card-content {
  align-items: center;
  background-color: lightpink;
  border-radius: 3%;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 10rem;
  justify-content: center;
  width: 15rem;
}

.card-container {
  align-items: baseline;
  display: flex;
  justify-content: baseline;
  width: 15rem;
}

.card-title {
  display: flex;
  justify-content: center;
  width: 15rem;
}

.dashboard-content {
  background-color: black;
  box-shadow: 1px 1px 10px 10px #8eb0d4;
  color: aliceblue;
  font-family: serif;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 3.5rem;
  padding: 5px;
}

.dashboard-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fa-check {
  width: 4rem;
}

.logout-button {
  background: #123455;
  color: red;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
  padding: 10%;
}

.logout-content {
  height: 5%;
  width: 5%;
}

.logout-container {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  margin-top: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: white;
}

.projectCreate-button {
  background-color: green;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 48px;
  outline: none;
  position: absolute;
}

.project-card-content {
  color: white;
  position: absolute;
}

.project-card-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.projectName-input {
  background: #e7c7;
  border-radius: 7px;
  border: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: bold;
  height: 3rem;
  outline: none;
  padding: 5%;
  width: 35rem;
}

.title-text {
  color: black;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 25px;
  padding: 1%;
  text-align: center;
  width: 70px;
}

.title-text:hover {
  background-color: green;
  transition: 0.7s;
}

.top-section {
  background: rgb(113, 20, 167);
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
}
